<div class="weather">
    <div class="container">
        <h1 class="title">-Weather Template-</h1>

        <div class="form_block">
            <form id="form" [formGroup]="form">
                <div class="options">
                    <div class="search_field">
                        <span class="pi pi-search"></span>
                        <input type="search" class="search" placeholder="Search.." [formControlName]="'name'" (input)="search()">
                    </div>
                    <div class="filter_field">
                        <select class="filter" [formControlName]="'option'" (change)="changeOption()">
                            <option value="" selected hidden>Select type</option>
                            <option value="hourly">Hourly</option>
                            <option value="daily">Daily</option>
                        </select>
                    </div>
                </div>
            </form>
        </div>
    
        <div class="table_block">
            <app-table *ngIf="selectedPreset === 'hourly'" [cityName]="name" [tableData]="hourlyData" [show]="isShow"></app-table>
            <app-table *ngIf="selectedPreset === 'daily'" [cityName]="name" [tableData]="dailyData" [show]="isShow"></app-table>
        </div>

    </div>
</div>